.grid {
  display: flex;
  flex-wrap: wrap;

  width: 800px;
  background-color: black;
}

img {
  width: 200px;
  height: 200px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
